.header_container {
    width: 100%;
    background-color: white;
    font-size: 16px;
    font-weight: 500;
    padding-inline: var(--chakra-space-mainPageGapXsm);
    padding-block: var(--chakra-space-mainPageGapYsm);
    position: sticky;
    border-radius: 5px;

    @media screen and (min-width: 48rem) {
        font-size: 20px;
        padding-inline: var(--chakra-space-mainPageGapX);
        padding-block: var(--chakra-space-mainPageGapY);
    }
}