.header_container {
    width: 100%;
    background-color: white;
    font-size: 20px;
    font-weight: 500;
    padding-inline: var(--main-page-paddingX);
    padding-block: var(--main-page-paddingY);
}