

.db_icon {
    z-index: 2;
    *path, *g, *svg {
        color: white;
        fill: white;
        stroke: white;
    }
    &path, &g, &svg {
        color: white;
        fill: white;
        stroke: white;
    }
    path, g, svg {
        color: white;
        fill: white;
        stroke: white;
    }
}