$paddingX: 34px;
$side-bar-width: 289px;

.opaque_background {

    &_hidden {
        display: none;
    }
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--chakra-colors-grey-200);
    opacity: 0.5;
    z-index: var(--sideBarMobile-zIndex);
    @media screen and (min-width: "768px") {
        display: none;
        z-index: var(--sideBarDesktop-zIndex);
    }
}

.sidebar_container {

    &_hidden {
        display: none;

        @media screen and (min-width: "768px") {
            flex: 0 0 auto;
            position: relative;
            display: block;
        }
    }
    @media screen and (min-width: "768px") {
        flex: 0 0 auto;
        position: relative;
        z-index: var(--sideBarDesktop-zIndex);
    }
    position: fixed;
    width: $side-bar-width;
    height: 100%;
    background-color: white;
    z-index: var(--sideBarMobile-zIndex);
    overflow: auto;


    & header, .org_info {
        text-align: center;
        margin: 0 auto;
        padding-inline: $paddingX;
        padding-bottom: 24px;
        border-bottom: 1px solid var(--chakra-colors-grey-100);
    }

    & header {
        padding-top: 47px;
    }

    .org_info {
        padding-top: 40px;
        .img_container {
            margin: 0 auto;
            width: 70px;
            height: 70px;
            border: 4px solid white;
            border-radius: 50%;
            box-shadow: 0px 5px 6px rgba(127, 145, 168, 0.32);
            background-image: url(../../assets/images/testImg.png);
            background-size: cover;
        }
    }

    .profile_cta {
        display: flex;
        justify-content: space-between;
    }

    .nav_links {
        padding-inline: $paddingX;
        ul {
            display: flex;
            text-decoration: none;
            list-style: none;
            flex-direction: column;
            // gap: 32px;
        }
        li {
            p, img{
                transition: 0.1s ease-in;
                transition-property: transform, font-weight;
            }
            &:hover {
                p {
                    font-weight: 600;
                }
                img {
                    transform: scale(1.1);
                }
            }
            a {
                display: block;
                padding-block: 1rem;
            }
            div {
                display: flex;
                gap: 20px;
                p {
                    font-size: 14px;
                }
            }
            .activeLink {
                img {
                    color: var(--chakra-colors-orange-200);
                    fill: var(--chakra-colors-orange-200);
                }
                p {
                    color: var(--chakra-colors-orange-200);
                    font-weight: 600;
                }

            }
        }
        
    }
}


