@import url('https://fonts.cdnfonts.com/css/gotham');

:root {
  font-family: 'Gotham', sans-serif;
  font-family: 'Gotham Black', sans-serif;
  font-family: 'Gotham Light', sans-serif;
  font-family: 'Gotham Thin', sans-serif;
  font-family: 'Gotham XLight', sans-serif;
  font-family: 'Gotham Book', sans-serif;
  font-family: 'Gotham Ultra', sans-serif;
}