
.layout_container {
    width: 100%;
    height: 100%;
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    background-color: var(--chakra-colors-grey-100);

    display: flex;

    .main_section {
        width: 100%;
        padding-inline: var(--chakra-space-mainPageGapXsm);
        padding-block: var(--chakra-space-mainPageGapYsm);
        flex: 1 1 100%;
        height: 100%;
        overflow-y: scroll;
        @media screen and (min-width: 48rem) {
            padding-inline: var(--chakra-space-mainPageGapX);
            padding-top: var(--chakra-space-mainPageGapY);
        }
    }
}
